<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gymbuddy.elevator2.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w22.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>gymbuddy.elevator2.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>elevato2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:s10.winhost.com;Initial Catalog=DB_100635_gymbuddy;Integrated Security=False;User ID=DB_100635_gymbuddy_user;Password=Hz1qOVJww41J" Name="Data Source=tcp:s10.winhost.com;Initial Catalog=DB_100635_gymbuddy;User ID=DB_100635_gymbuddy_user;Password=Hz1qOVJww41J;Integrated Security=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="justinobney.gymbuddy.api.Data.AppContext, justinobney.gymbuddy.api" MigrationConfiguration="justinobney.gymbuddy.api.Migrations.Configuration, justinobney.gymbuddy.api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s10.winhost.com;Initial Catalog=DB_100635_gymbuddy;User ID=DB_100635_gymbuddy_user;Password=Hz1qOVJww41J;Integrated Security=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>